*{
    box-sizing: border-box;
}

body {
    background-color: #131313;
    font-family: sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 10%;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}